#header
  @extend $block
  background: white
  position: relative
  a, a:visited
    white-space: nowrap
    transition: 0.2s ease
    color: color-default
  a:hover
    color: color-link

$header-block
  height: logo-size
  line-height: logo-size
  padding: ((header-height - logo-size)/2) 6px

$header-block-left
  float: left

$header-block-right
  float: right

.header-inner
  height: 100%
  position: relative
  #logo, #mobile-logo
    @extend $header-block
    @extend $header-block-left
    .logo
      display: inline-block
      width: logo-width
      height: logo-size
      margin-left: 5px
    .site-title
      font-size: 16px
      display: inline-block
      vertical-align: top
      font-weight: 600
  #mobile-logo
    display: none
    @media mq-mobile
      display: inline-block
    @media mq-mini
      display: inline-block
      padding-left: 20px
  #logo
    display: inline-block
    @media mq-mobile
      display: none
    @media mq-mini
      display: none

#header-title
  text-align: center
  height: logo-size
  position: absolute
  top: 50%
  left: 0
  margin-top: logo-size * -0.5
  
.header-sub
  border-top: 1px solid color-border
  ul
    clearfix()
    margin: 0 15px
    li
      float: left
      margin: 0 10px
      a
        display: inline-block
        line-height: header-sub-height
  .main-nav-link
    display: inline-block
    line-height: header-sub-height
    
#header-sub
  @media mq-mobile
    display: none
  @media mq-mini
    display: none

#main-nav
  height: header-height
  line-height: header-height
  @extend $header-block-left
  @media mq-mobile
    display: none
  @media mq-mini
    display: none
  li > a
    display: block; 
    width: 75px; 
    height: 30px; 
    padding: 10px 0 10px; 
    font-size: 14px; 
    color: #34495e; 
    line-height: 30px; 
    text-align: center; 
    border-top: 4px solid transparent;
  li.on > a
    color: #3498db;
  li.on > a, li > a:hover
    background-color: #fff; 
    box-shadow: 0px 0 2px rgba(0,0,0,.1); 
    border-top: 4px solid #3498db;

#main-nav
  .menu-category-list
    float: left;
    width: 75px; 
    box-shadow: 0px 1px 2px rgba(0,0,0,.1); 
    transition: all .2s;
    li > a
      display: block;
      height: 18px; 
      padding: 0 auto; 
      font-size: 14px; 
      color: #7a8e9d; 
      line-height: 18px; 
      background-color: #fff;
      border: none;
    li.on > a, li > a:hover
      font-size: 14px; 
      color: #3498db; 
      font-weight: bold; 
      background-color: #eff3f5;
      border: none;
 
.subnav-hd { display: none; z-index: 90; position: absolute; top: 70px; left: 0; width: 120px; }
.subnav-ct-hd { float: left; min-width: 80px; box-shadow: 0px 1px 2px rgba(0,0,0,.1); transition: all .2s;}
.subnav-ct-hd > li { }
.subnav-ct-hd > li > a { display: block; height: 40px; padding: 0 15px; font-size: 14px; color: #7a8e9d; line-height: 40px; background-color: #fff; }
.subnav-ct-hd > li.on > a,
.subnav-ct-hd > li > a:hover { font-size: 14px; color: #3498db; font-weight: bold; background-color: #eff3f5; }
 
    
#main-nav-mobile
  @media mq-tablet
    display: none
  @media mq-normal
    display: none
  
$nav-link
  float: left
  display: block
  padding: 0 15px

.nav-icon
  @extend $nav-link
  text-align: center
  font-size: font-size
  width: font-size
  height: font-size
  position: relative
  cursor: pointer
  height: logo-size !important
  line-height: logo-size !important

.main-nav-link
  float: left
  display: block
  font-weight: 300
  background: white
  a
    padding: 0 25px
  &:hover
    .menu-category-list
      display: block

.main-nav-link
  .menu-category-list-item
    a
      padding:0 0 0 16px

.menu-category-list
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);

#sub-nav
  @media mq-mini
    padding-right: 20px
  @extend $header-block
  @extend $header-block-right
  #profile-nav
    #profile-anchor
      clearfix()
      display: block
      height: logo-size
      line-height: logo-size
    .avatar, .fa
      float: left
    .avatar
      width: logo-size
      height: logo-size
      margin-right: 8px
    .fa
      line-height: logo-size

#nav-search-form
  display: none
  @media mq-mini
    display: block
  @extend $header-block
  .search-form
    background-color: #fff
    position: relative
    .search-form-input
      width: 100%
      height: logo-size
      padding: 0 15px
      line-height: logo-size
      border-radius: 0px
      &::-webkit-search-results-decoration
      &::-webkit-search-cancel-button
        -webkit-appearance: none
    .search-form-submit
      top: 50%
      right: 15px
      border: none
      cursor: pointer
      margin-top: -7px
      background: none
      position: absolute
      font: 13px font-icon
      font-family: 'FontAwesome'
      &:before
        content: '\f002'
      &:hover, &:focus
        color: #777

#search-form-wrap
  @media mq-mini
    display: none
  @extend $header-block
  @extend $header-block-right
  .search-form
    position: relative
    .search-form-input
      width: 100%
      height: logo-size
      padding: 0 30px 0 10px
      line-height: logo-size
      border-radius: ((logo-size + 2)/2)
      &::-webkit-search-results-decoration
      &::-webkit-search-cancel-button
        -webkit-appearance: none
    .search-form-submit
      top: 50%
      right: 15px
      border: none
      cursor: pointer
      margin-top: -7px
      background: none
      position: absolute
      font: 13px font-icon
      font-family: 'FontAwesome'
      &:before
        content: '\f002'
      &:hover, &:focus
        color: #777

.search-form-input
  width: 200px
  outline: none
  appearance: none
  background: none
  box-shadow: none
  color: color-default
  transition: 0.2s ease
  box-sizing: border-box
  font: font-size font-sans
  border: 1px solid color-border
  &:focus
    border-color: color-link

#main-nav-mobile
  overflow-y: hidden
  overflow-x: auto
  .menu
    clearfix()
    margin: 0
    height: header-sub-height
    .search-form-input
      display: none
      @media mq-mini
        display: block
      padding: 0 10px
      margin-right: 15px
      height: header-sub-height - 16
      line-height: header-sub-height - 16
      border-radius: ((header-sub-height - 16)/2)
      &::-webkit-search-results-decoration
      &::-webkit-search-cancel-button
        -webkit-appearance: none

.menu-category-list
  display: none
  padding: 0

.main-nav-category-list
  border-color: #cccccc

.navigation-menu-button
  cursor: pointer
  @media mq-normal
    display: none
  @media mq-tablet
    display: none

.mobile-menu-img
  font-size: 1.8em
  margin-right: 1em

.cbp-spmenu
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05)
  box-shadow: 0 1px 2px rgba(0,0,0,0.05)
  background: #47a3da
  position: fixed
  
.cbp-spmenu
  a
    display: block
    color: #fff
    font-size: 1.1em
    font-weight: 300
  a:hover
    background: #258ecd
  a:active
    background: #afdefa
    color: #47a3da

.cbp-spmenu-vertical
  width: nav-menu-width
  height: 100%
  top: 0
  z-index: 1000
  a
    border-bottom: 1px solid #55AEE4;
    padding: 1em 1em 0.8em
  .main-nav-category-list-item
    a
      border-bottom: 1px solid #55AEE4;
      padding: 1em 2em 0.8em

.cbp-spmenu-left
  transform:translateX( - nav-menu-width)
  -ms-transform:translateX( - nav-menu-width)
  -moz-transform:translateX( - nav-menu-width)
  -webkit-transform:translateX( - nav-menu-width)
  -o-transform:translateX( - nav-menu-width)

.cbp-spmenu-left.cbp-spmenu-open
  @media mq-mini
    transform:translateX(0px)
    -ms-transform:translateX(0px)
    -moz-transform:translateX(0px)
    -webkit-transform:translateX(0px)
    -o-transform:translateX(0px)
  @media mq-mobile
    transform:translateX(0px)
    -ms-transform:translateX(0px)
    -moz-transform:translateX(0px)
    -webkit-transform:translateX(0px)
    -o-transform:translateX(0px)

/* Push classes applied to the body */
.cbp-spmenu-push
	overflow-x: hidden
	position: relative

.cbp-spmenu-push
  @media mq-mini
    transform:none
    -ms-transform:none
    -moz-transform:none
    -webkit-transform:none
    -o-transform:none
  @media mq-mobile
    transform:none
    -ms-transform:none
    -moz-transform:none
    -webkit-transform:none
    -o-transform:none

.cbp-spmenu-push-toright
  @media mq-mini
    transform:translateX(nav-menu-width)
    -ms-transform:translateX(nav-menu-width)
    -moz-transform:translateX(nav-menu-width)
    -webkit-transform:translateX(nav-menu-width)
    -o-transform:translateX(nav-menu-width)
  @media mq-mobile
    transform:translateX(nav-menu-width)
    -ms-transform:translateX(nav-menu-width)
    -moz-transform:translateX(nav-menu-width)
    -webkit-transform:translateX(nav-menu-width)
    -o-transform:translateX(nav-menu-width)

/* Transitions */
.cbp-spmenu,.cbp-spmenu-push
  -webkit-transition: all 0.3s ease
  -moz-transition: all 0.3s ease
  transition: all 0.3s ease
  
#mobile-nav
  a, a:visited
    white-space: nowrap
    transition: 0.2s ease
    color: white
  a:hover
    color: white