<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <span id="footer-info-extend">Copyright </span>&copy; <%= date(new Date(), 'YYYY') %> The NewIdea Inc.  <span id="footer-info-extend">鄂ICP备15011767号</span>
    </div>
  </div>
</footer>

<script src="js/classie.js"></script>
<script>
	var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
      showMobileNav = document.getElementById( 'mobile-logo' ),
		  body = document.body;

	showMobileNav.onclick = function() {
		classie.toggle( this, 'active' );
		classie.toggle( body, 'cbp-spmenu-push-toright' );
		classie.toggle( menuLeft, 'cbp-spmenu-open' );
	};
</script>