<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; 2013-<%= date(new Date(), 'YYYY') %> The NewIdea Inc.
    </div>
  </div>
</footer>